@{
    ViewBag.Title = "Sherlock";
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/vue-datepicker-local.css">
}

<div id="app">
    <div class="row well">

        <div class="col-md-4">
            <h1>
                <img class="img-rounded logo" src="~/img/logo.png" v-on:error="noLogo" v-if="showLogo" />
                {{ instanceName }}
            </h1>
        </div>

        <div class="form-group col-md-4" v-if="hasConnections">
            <label for="connectionName">Connection:</label>
            <select class="form-control"
                    name="connectionName"
                    v-model="connectionName">
                <option v-for="conn in connections">{{ conn.Name }}</option>
                </select>
        </div>

        <div class="form-group col-md-4" v-if="hasFlows">
            <label for="connectionName">Flow:</label>
            <select class="form-control"
                    name="flowName"
                    v-model="flowName">
                <option v-for="flow in flows">{{ flow.Name }}</option>
            </select>
        </div>

    </div>

    <template v-if="selectedFlow">
        <query-flow :flow="selectedFlow"
                    :model="model"
                    :connection-name="connectionName"
                    :needs-refresh="needsRefresh"
                    v-on:reset="loadState"
                    v-on:run="trackRun">
        </query-flow>
    </template>

    <template v-if="!selectedFlow">
        <p>Loading flows...</p>
    </template>

</div>

@section Scripts
{
    <script src="~/Scripts/App/VueApp.js"></script>
    <script src="~/Scripts/App/QueryFlowComponent.js"></script>
    <script src="~/Scripts/vue-datepicker-local.js"></script>
}
