@{
    ViewBag.Title = "Sherlock";
}

@section Styles
{
    <link rel="stylesheet" href="~/Content/vue-datepicker-local.css">
}

<h1>Sherlock</h1>

<div id="app">

    @*<h2>Product</h2>*@

    @*<p>{{Message}}</p>*@

    @*<p>Step {{StepNumber}}/{{Queries.length}} - Loading: {{Loading}}</p>*@

    @*<pre>{{model}}</pre>*@

    <template v-if="hasFlows">
        <select class="form-control"
                v-model="flowName">
            <option v-for="flow in flows">{{ flow.Name }}</option>
        </select>
    </template>

    <template v-if="selectedFlow">
        <query-flow :flow="selectedFlow"
                    :model="model"
                    v-on:reset="loadState">
        </query-flow>
    </template>

    <template v-if="!selectedFlow">
        <p>Loading flows...</p>
    </template>

</div>

@section Scripts
{
    <script src="~/Scripts/App/VueApp.js"></script>
    <script src="~/Scripts/App/QueryFlowComponent.js"></script>
    <script src="~/Scripts/vue-datepicker-local.js"></script>
}
