@{
    ViewBag.Title = "Sherlock";
}

<h1>Sherlock</h1>

<div id="app">

    @*<h2>Product</h2>*@

    @*<p>{{Message}}</p>*@

    @*<p>Step {{StepNumber}}/{{Queries.length}} - Loading: {{Loading}}</p>*@

    @*<pre>{{model}}</pre>*@

    <template v-if="hasFlows">
        <select v-model="flowName">
            <option v-for="flow in flows">{{ flow.Name }}</option>
        </select>
    </template>

    <template v-if="selectedFlow">
        <query-flow :flow-name="flowName"
                    :queries="selectedFlow.Queries"
                    :model="model">
        </query-flow>
    </template>

    <template v-if="!selectedFlow">
        <p>Loading flows...</p>
    </template>

</div>

@section Scripts
{
    <script src="~/Scripts/App/VueApp.js"></script>
    <script src="~/Scripts/App/QueryFlowComponent.js"></script>
}
